@model Job
<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Job Posting Form</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Job Posting Form</h2>
        <form asp-action="EditJob" asp-controller="Employee" enctype="multipart/form-data" method="post">
            <input asp-for="UserId">
            <div class="form-group">
                <label asp-for="Title">Job Title</label>
                <input type="text" class="form-control" asp-for="Title" placeholder="Enter job title">
            </div>
            <div class="form-group">
                <label asp-for="Description">Info</label>
                <input type="text" class="form-control" asp-for="Description" placeholder="Enter info job">
            </div>
            <div class="form-group">
                <label asp-for="Location">Location</label>
                <input type="text" class="form-control" asp-for="Location" placeholder="Enter location">
            </div>
            <div class="form-group">
                <label asp-for="Industry">Company</label>
                <input type="text" class="form-control" asp-for="Industry" placeholder="Enter industry">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Requiered">Required Skill</label>
                    <input type="text" class="form-control" asp-for="Requiered" placeholder="Enter required skill 1">
                </div>                
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Salary">Salary</label>
                    <input type="number" class="form-control" asp-for="Salary" placeholder="Enter lowest price">
                </div>                
            </div>            
            <div class="form-group">
                <label asp-for="Deadline">Deadline</label>
                <input type="date" class="form-control" asp-for="Deadline">
            </div>
            <div class="form-group">
                <label asp-for="Jmage">Photo</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="avatarInput" asp-for="Jmage" accept="image/*">
                    </div>                    
                </div>                
            </div>            
            <button type="submit" class="btn btn-success mt-2">Edit</button>
        </form>
    </div>    
</body>
</html>

@section Scripts {
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}

