@using Microsoft.AspNetCore.Identity
@model ApplicationJob
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Form</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">CV Form</h2>
        <form asp-action="CreateCV" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" type="text" id="title" name="title" class="form-control" placeholder="Enter title" required>
            </div>
            <input asp-for="UserId" type="hidden" value="@ViewBag.UserId" required>
            <input asp-for="JobId" type="hidden" value="@ViewBag.JobId" required>
            <input asp-for="Reason" type="hidden" value="Processing" required>
            <div class="form-group">
                <label asp-for="Introduction">Introduction</label>
                <textarea asp-for="Introduction" id="introduction" class="form-control" rows="5" placeholder="Enter introduction" required></textarea>
            </div>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-sm mb-3">Back to Home</a>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
